<%include head.ejs%>
    <div id="content">
        <section id="descrip">
            <div id="s1_photo">
                <img src="./images/myphoto.jpg" alt="myphoto"/>
            </div>
            <div id="s1_txt">
                <h1><span class="title">About me</span></h1>
                <br>
                <p class="para">
                    I received PhD degree in the Department of Electronic and Engineering in Shanghai Jiao Tong
                    University, 2013. From Fall 2013, I join in the School of Electronic and Information
                    Engineering in South China University of Technology as an Assistant Professor. I
                    am broadly interested in wireless communications, including theoretical analysis, signal
                    processing and optimization.
                </p>
                <br>
                <h1><span class="title">Contact me</span></h1>
                <br/>
                <p class="para">
                    School of Electronic and Information Engineering<br>
                    South China University of Technology<br>
                    Shaw Science Building 316, Wushan Road 381, Guangzhou 510641, China<br>
                    E-mail: eeyliu@scut.edu.cn, eeyuanliu@ieee.org<br>
                </p>
            </div>
        </section>

    </div>
    <div id="content2">
        <section id="updated">

            <div id="news">
                <h1><span class="title2">
                        News
                    </span></h1>
                <br>
                <p class="para2" id="news_txt">
                <ul hidden>
                    <li>NEW1</li>
                    <li>NEW2</li>
                    <li>NEW3</li>
                </ul>
                </p>
                <br>
            </div>
            <div id="awards">
                <h1><span class="title2">Awards
                    </span></h1>
                <br>
                <ul>
                    <li>IEEE Student Travel Grant for IEEE ICC (2012)</li>
                    <li>Exemplary Reviewer of IEEE Communications Letters (2010)</li>
                    <li>Guangdong Province Excellent Master Theses Award (2010)</li>
                </ul>
            </div>
        </section>
    </div>
    <div id="content3">
        <div id="visitors">
            <h1><span class="title">
                       Visitors
                    </span></h1>
            <br>
            <p class="para" id="visitors_txt">
            <ul>
                <li>Dr. Jie Xu at Singapore University of Technology and Design, talk on "Green Cellular Networks with
                    Energy and Communication Cooperation", Oct. 27, 2015.
                </li>
                <li>Dr. Yong Zeng at National University of Singapore, talk on "Millimeter Wave MIMO with Lens Antenna
                    Array", Oct. 27, 2015.
                </li>
                <li>Prof. Kaibin Huang at University of Hong Kong, talk on "Cutting the last wireless for mobile
                    communications by microwave power transfer", Sep. 28, 2015.
                </li>
                <li>Prof. Jia Liu at Ohio State University, talk on "Fast-converging distributed optimization for
                    networked systems: A second-order approach", May 6, 2015.
                </li>
                <li>Prof. Ming Li at University of Nevada, talk on "Transmission auction: A novel auction paradigm for
                    untrustworthy dynamic secondary spectrum markets", May 5, 2015.
                </li>
                <li>Prof. Lingyang Song at Peking University, talk on "Full-duplex wireless communications and
                    networks", Jan. 18, 2015.
                </li>
                <li>Prof. Kaibin Huang at University of Hong Kong, talk on "Communications using ubiquitous antennas",
                    Dec. 30, 2014.
                </li>
                <li>Prof. Feifei Gao at Tsinghua University, talk on " Sensing and recognition when primary user has
                    multiple transmit powers", Dec. 29, 2014.
                </li>
                <li>Prof. Lingjie Duan at Singapore University of Technology and Design, talk on "Green and cooperative
                    design for future wireless networks", Dec. 19, 2014.
                </li>
                <li>Prof. Li Chen at Sun Yat-sen University, talk on "Iterative soft decoding of Reed-Solomon
                    convolutional concatenated codes", Dec. 12, 2014.
                </li>
                <li>Dr. Shahriar E. Tajbakhsh at University of New South Wales, talk on "Challenges and solutions of
                    future heterogeneous networks", Nov. 27, 2014.
                </li>
                <li>Prof. Rui Wang at Tongji University， talk on "MIMO multiway relaying: A degrees of freedom
                    perspective", Oct. 17, 2014.
                </li>

            </ul>
            </p>
            <br>
        </div>
    </div>
<%include foot.ejs%>