<% include head.ejs %>
<style>
    br {
        display: inline;
        line-height: 1vw;
    }
</style>
<div id="content">

    <h2><span class="subtitle"><a href="http://scholar.google.com/citations?hl=en&user=8xjRAYUAAAAJ">Google
                Citation Profile</a></span></h2>
    <br>
    <p class="para">
    <h2><span class="subtitle">Journal Articles</span></h2>
    <ul>
        <br>
        <li><strong>Y. Liu</strong>, "Wireless information and power transfer for multi-relay assisted cooperative
            communication",
            IEEE Communications Letters, 2016, to appear.
        </li>
        <br>
        <li><strong>Y. Liu</strong>, "Optimal mode selection in D2D-enabled multibase station systems", IEEE
            Communications Letters,
            2016, to appear.
        </li>
        <br>
        <li> M. Zhang, <strong>Y. Liu</strong>, and R. Zhang, "Artificial noise aided secrecy information and power
            transfer in OFDMA
            systems", IEEE Transactions on Wireless Communications, 2016, to appear.
        </li>
        <br>
        <li> J. Yao, S. Feng, X. Zhou, and <strong>Y. Liu</strong>, "Secure routing in multihop wireless ad-hoc networks
            with
            decode-and-forward relaying", IEEE Transactions on Communications, 2016, to appear.
        </li>
        <br>
        <li> M. Zhang and <strong>Y. Liu</strong>, "Energy harvesting for physical-layer security in OFDMA networks",
            IEEE
            Transactions on Information Forensics and Security, vol. 11, no. 1, pp. 154-162, Jan. 2016.
        </li>
        <br>
        <li><strong>Y. Liu</strong> and X. Wang, "Information and energy cooperation in OFDM relaying: Protocols and
            optimization",
            IEEE Transactions on Vehicular Technology, 2015, to appear.
        </li>
        <br>
        <li> M. Zhao, X. Wang, <strong>Y. Liu</strong>, and S. Feng, "Sparse beamforming in multiple multi-antenna
            amplify-and-forward relay networks", IEEE Communications Letters, vol. 18, no. 6, pp. 1023-1026, Jun.
            2014.
        </li>
        <br>
        <li> J. Chen, S. Feng, M. Huang, <strong>Y. Liu</strong>, and F. Ke, "Outage analysis of distributed antenna
            system with
            delayed CSI and unequal-power cochannel interferers", IEEE Communications Letters, vol. 18, no. 5, pp.
            769-772, May 2014.
        </li>
        <br>
        <li> J. Mo, M. Tao, <strong>Y. Liu</strong>, and R. Wang, "Secure beamforming for MIMO two-way communications
            with an
            untrusted relay", IEEE Transactions on Signal Processing, vol. 62, no. 9, pp. 2185-2199, May 2014.
        </li>
        <br>
        <li> R. Wang, E. Liu, and <strong>Y. Liu</strong>, "Achievable degrees of freedom of cellular multiuser two-way
            relay
            networks", IEEE Transactions on Vehicular Technology, vol. 63, no. 8, pp. 4028-4038, Oct. 2014.
        </li>
        <br>
        <li><strong>Y. Liu</strong>, J. Mo, and M. Tao, "QoS-aware transmission policies for OFDM bidirectional
            decode-and-forward
            relaying", IEEE Transactions on Wireless Communications, vol. 12, no. 5, pp. 2206-2216, May 2013.
        </li>
        <br>
        <li> M. Tao and <strong>Y. Liu</strong>, "A network flow approach to throughput maximization in cooperative
            OFDMA networks",
            IEEE Transactions on Wireless Communications, vol. 12, no. 3, pp. 1138-1148, Mar. 2013.
        </li>
        <br>
        <li> R. Wang, M. Tao, and <strong>Y. Liu</strong>, "Optimal linear transceiver designs for cognitive two-way
            relay networks",
            IEEE Transactions on Signal Processing, vol. 61, no. 4, pp. 992-1005, Feb. 2013.
        </li>
        <br>
        <li><strong>Y. Liu</strong>, M. Tao, and J. Huang, "An auction approach to distributed power allocation for
            multiuser
            cooperative networks", IEEE Transactions on Wireless Communications, vol. 12, no. 1, pp. 237-247, Jan.
            2013.
        </li>
        <br>
        <li> M. Tao and <strong>Y. Liu</strong>, "Spectrum leasing and cooperative resource allocation in cognitive
            OFDMA networks",
            IEEE/KICS Journal of Communications and Networks, vol. 15, no. 1, pp. 102-110, Feb. 2013.
        </li>
        <br>
        <li> C. Lin, <strong>Y. Liu</strong>, and M. Tao, "Cross-layer optimization of two-way relaying for statistical
            QoS
            guarantees", IEEE Journal on Selected Areas in Communications, Special Issue on Theories and Methods for
            Advanced Wireless Relays, vol. 31, no. 8, pp. 1583-1596, Aug. 2013.
        </li>
        <br>
        <li> J. Mo, M. Tao, and <strong>Y. Liu</strong>, "Relay placement for physical layer security: a secure
            connection
            perspective", IEEE Communications Letters, vol. 16, no. 6, pp. 878-881, Jun. 2012.
        </li>
        <br>
        <li> H. Zhang, <strong>Y. Liu</strong>, and M. Tao, "Resource allocation with subcarrier pairing in OFDMA
            two-way relay
            networks", IEEE Wireless Communications Letters, vol. 1, no. 2, pp. 61-64, Apr. 2012.
        </li>
        <br>
        <li><strong>Y. Liu</strong> and M. Tao, "Optimal channel and relay assignment in OFDM-based multi-relay
            multi-pair two-way
            communication networks", IEEE Transactions on Communications, vol. 60, no. 2, pp. 317-321, Feb. 2012.
        </li>
        <br>
        <li><strong>Y. Liu</strong>, M. Tao, B. Li, and H. Shen, "Optimization framework and graph-based approach for
            relay-assisted
            bidirectional OFDMA cellular networks", IEEE Transactions on Wireless Communications, vol. 9, no. 11,
            pp. 3490-3500, Nov. 2010.
        </li>
        <br>
    </ul>
    <br>
    <h2><span class="subtitle">Conference Articles</span></h2>
    <ul>
        <br>
        <li> M. Zhang and <strong>Y. Liu</strong>, "Joint secure beamforming for cognitive radio networks with untrusted
            secondary
            users",
            IEEE Global Telecommunications Conference (GLOBECOM), San Diego, USA, December 6-10, 2015.
        </li>
        <br>
        <li>M. Zhang, <strong>Y. Liu</strong>, and R. Zhang, "Secrecy wireless information and power transfer in OFDMA
            systems", IEEE
            Global
            Telecommunications Conference (GLOBECOM), San Diego, USA, December 6-10, 2015.
        </li>
        <br>
        <li> M. Zhao, S. Feng, and <strong>Y. Liu</strong>, "Joint power splitting and secure beamforming design in the
            wireless-powered
            untrusted relay networks", IEEE Global Telecommunications Conference (GLOBECOM), San Diego, USA,
            December 6-10,
            2015.
        </li>
        <br>
        <li> W. Tang, S. Feng, <strong>Y. Liu</strong>, and Mark C. Reed, "Joint low-power transmit and cell association
            in
            heterogeneous
            networks", IEEE Global Telecommunications Conference (GLOBECOM), San Diego, USA, December 6-10, 2015.
        </li>
        <br>
        <li> W. Tang, S. Feng, <strong>Y. Liu</strong>, and Y. Ding, "Distance-based hybrid duplex in heterogeneous
            networks", IEEE
            Global
            Telecommunications Conference (GLOBECOM), San Diego, USA, December 6-10, 2015.
        </li>
        <br>
        <li> W. Tang, S. Feng, <strong>Y. Liu</strong>, Mark C. Reed, and Y. Ding, "SINR analysis of heterogeneous
            networks with
            hybrid
            duplex", 10th International Conference on Communications and Networking in China (ChinaCom 2015),
            Shanghai,
            China, August 15-17, 2015. (Invited Paper)
        </li>
        <br>
        <li>X. Zhou, S. Feng, Z. Han, and <strong>Y. Liu</strong>, "Distributed user association and interference
            coordination in
            HetNets
            using Stackelberg game", IEEE International Conference on Communications (ICC), London, UK, June 8-12,
            2015.
        </li>
        <br>
        <li> V. Naghshin, Mark C. Reed, and <strong>Y. Liu</strong>, "Decoupled uplink-downlink association for finite
            multi-tier
            networks",
            IEEE International Conference on Communications (ICC), London, UK, June 8-12, 2015.
        </li>
        <br>
        <li> V. Naghshin, Mark C. Reed, and <strong>Y. Liu</strong>, "On the performance analysis of finite wireless
            network", IEEE
            International Conference on Communications (ICC), London, UK, June 8-12, 2015.
        </li>
        <br>
        <li><strong>Y. Liu</strong> and X. Wang, "Information and energy cooperation in OFDM relaying", IEEE
            International
            Conference on
            Communications (ICC), London, UK, June 8-12, 2015.
        </li>
        <br>
        <li> S. Tajbakhsh, T. Ray, Mark C. Reed, and <strong>Y. Liu</strong>, "Joint power control and resource
            scheduling in
            wireless
            heterogeneous networks", 22nd International Conference on Telecommunications (ICT 2015), Sydney,
            Australia,
            April 27-29, 2015. (Invited Paper)
        </li>
        <br>
        <li> M. Zhang, <strong>Y. Liu</strong>, and S. Feng, "Energy harvesting for secure OFDMA systems", International
            Conference
            on
            Wireless Communications and Signal Processing (WCSP), Hefei, China, October 23-25, 2014.
        </li>
        <br>
        <li> M. Zhao, S. Feng, <strong>Y. Liu</strong>, and X. Wang, "Secure beamforming based on sparsity in multiple
            amplify-and-forward
            MIMO relay networks", International Conference on Wireless Communications and Signal Processing (WCSP),
            Hefei,
            China, October 23-25, 2014.
        </li>
        <br>
        <li>W. Tang, R. Zhang, <strong>Y. Liu</strong>, and S. Feng, "Joint resource allocation for eICIC in
            heterogeneous networks",
            IEEE
            Global Telecommunications Conference (GLOBECOM), Austin, USA, December 8-12, 2014.
        </li>
        <br>
        <li><strong>Y. Liu</strong> and S. Feng, "Interference pricing for device-to-device communications", IEEE
            International
            Conference on
            Communications (ICC), Sydney, Australia, June 10-14, 2014.
        </li>
        <br>
        <li><strong>Y. Liu</strong> and M. Tao, "Distributed resource allocation in cooperative OFDMA heterogeneous
            networks", IEEE
            International Conference on Communications (ICC), Budapest, Hungary, June 9-13, 2013.
        </li>
        <br>
        <li> C. Lin, M. Tao, G. Stüber, and <strong>Y. Liu</strong>, "Distributed cross-layer resource allocation for
            statistical QoS
            provisioning in femtocell Networks", IEEE International Conference on Communications (ICC), Budapest,
            Hungary,
            June 9-13, 2013.
        </li>
        <br>
        <li> J. Mo, M. Tao, <strong>Y. Liu</strong>, B. Xia, and X. Ma, "Secure beamforming for MIMO two-way
            transmission with an
            untrusted
            relay", IEEE Wireless Communications and Networking Conference (WCNC), Shanghai, China, April 7-10,
            2013.
        </li>
        <br>
        <li> C. Wang, <strong>Y. Liu</strong>, M. Tao, Z. Han, and D. I. Kim, "Stackelberg game for spectrum reuse in
            the two-tier
            LTE
            femtocell network", IEEE Wireless Communications and Networking Conference (WCNC), Shanghai, China,
            April 7-10,
            2013.
        </li>
        <br>
        <li> B. Zhou, <strong>Y. Liu</strong>, and M. Tao, "Adaptive scheduling for OFDM bidirectional transmission with
            a buffered
            relay",
            IEEE Wireless Communications and Networking Conference (WCNC), Shanghai, China, April 7-10, 2013.
        </li>
        <br>
        <li><strong>Y. Liu</strong>, J. Mo, and M. Tao, "QoS-aware policies for OFDM bidirectional transmission with
            decode-and-forward
            relaying", IEEE Global Telecommunications Conference (GLOBECOM), Anaheim, California, USA, December 3-7,
            2012.
        </li>
        <br>
        <li><strong>Y. Liu</strong> and M. Tao, "An optimal graph approach for optimizing OFDMA relay networks", IEEE
            International
            Conference on Communications (ICC), Ottawa, Canada, June 10-15, 2012.
        </li>
        <br>
        <li> C. Lin, <strong>Y. Liu</strong>, and M. Tao, "Cross-layer resource allocation of two-way relaying for
            statistical
            delay-QoS
            guarantees", IEEE International Conference on Communications (ICC), Ottawa, Canada, June 10-15, 2012.
        </li>
        <br>
        <li><strong>Y. Liu</strong>, M. Tao, and J. Huang, "Auction-based optimal power allocation in multiuser
            cooperative
            networks", IEEE
            Global Telecommunications Conference (GLOBECOM), Houston, TX, December 5-9, 2011.
        </li>
        <br>
        <li>M. Zhang, <strong>Y. Liu</strong>, M. Tao, and X. Gao, "A graph approach for coordinated channel allocation
            in downlink
            multi-cell OFDMA networks", IET International Conference on Communication Technology and Application
            (IET
            ICCTA), Beijing, China , Oct. 14-16, 2011.
        </li>
        <br>
        <li><strong>Y. Liu</strong> and M. Tao, "Graph-based optimization for relay-assisted bidirectional cellular
            networks", IEEE
            Global
            Telecommunications Conference (GLOBECOM), Miami, Florida, USA, December 6-10, 2010.
        </li>
        <br>
    </ul>

    </p>
</div>
<% include foot.ejs %>