<%include head.ejs%>
<div id="content">
    <h2><span class="subtitle">
            Research
        </span></h2>
    <p>
        I have a wide range of interests in signal processing, convex optimization, and networking for wireless
        communication. My current research focuses on 5G wireless and the beyond, including
    </p>

    <ul>
        <li>Cooperative relay communication</li>
        <li>Green communication, including wireless powered communication (WPC) simultaneous wireless information and
            power
            transfer (SWIPT)
        </li>
        <li>Heterogeneous cellular network, including small cell and D2D communication</li>
        <li>Multiuser MIMO, OFDM</li>
        <li>Physical-layer security</li>
    </ul>
    <br>
    <h2><span class="subtitle">
           Projects
        </span></h2>
    <p>
        Our group’s researches receive funds sponsored by NSFC, MOE, local governments, and industries.
    </p>
</div>
<%include foot.ejs%>